header{
  background-color: rgb(12, 5, 49);
  color: white;
}

.contact-page{
   width: 100%;
   height: auto;
 
}
.contact-form{
  width: 30%;
  margin: auto;
  text-align: center;
}
.form-submit{
  width: 30%;
  margin: auto;
}
.home #home-data div{
  width: 23%;
  height: auto;
  padding: 2%;
  margin: 2% auto;
  /* border: 1px solid black; */
  /* margin-top: 6%; */
  box-shadow: 0px 2px 2px 2px #ccc;
  
}
#taskPage{
  width: 100vw;
}
#task-container{
  margin:4% auto;
  width: 30%;
  height: auto;
}
#task-container input{
  width: 80%;
  height: 6vh;
  /* margin-top: 25%; */
  margin: auto;
  padding-left: 3%;
  /* border-radius: 7px; */
  
}
#add-task{
  width: 20%;
  height: 6vh;
  margin-top: -1%;
  border-radius: 0%;
  
}
li{
  list-style: none;

}
#task{
  width: 95%;
}
#task-list{
  width: 90%;
  height: 6vh;
  margin:4% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  /* background-color: aquamarine; */
  box-shadow: 2px 2px 2px 2px #ccc;
}
.clear{
  margin-top: 3%;
}